[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
[submodule "fontes-privadas"]
	path = fontes-privadas
	url = https://github.com/thluiz/scholion-fontes-privadas.git
