{{/* Substitui Latin Extended-A não coberto por BabelStone Han pela forma sem diacrítico. Uso: {{ partial "og-transliterate.html" $string }} */ -}}
{{- $s := . -}}
{{- $s = replace $s "Ă" "A" -}}
{{- $s = replace $s "ă" "a" -}}
{{- $s = replace $s "Ą" "A" -}}
{{- $s = replace $s "ą" "a" -}}
{{- $s = replace $s "Ć" "C" -}}
{{- $s = replace $s "ć" "c" -}}
{{- $s = replace $s "Č" "C" -}}
{{- $s = replace $s "č" "c" -}}
{{- $s = replace $s "Ď" "D" -}}
{{- $s = replace $s "ď" "d" -}}
{{- $s = replace $s "Đ" "D" -}}
{{- $s = replace $s "đ" "d" -}}
{{- $s = replace $s "Ė" "E" -}}
{{- $s = replace $s "ė" "e" -}}
{{- $s = replace $s "Ę" "E" -}}
{{- $s = replace $s "ę" "e" -}}
{{- $s = replace $s "Ğ" "G" -}}
{{- $s = replace $s "ğ" "g" -}}
{{- $s = replace $s "Į" "I" -}}
{{- $s = replace $s "į" "i" -}}
{{- $s = replace $s "Ĺ" "L" -}}
{{- $s = replace $s "ĺ" "l" -}}
{{- $s = replace $s "Ľ" "L" -}}
{{- $s = replace $s "ľ" "l" -}}
{{- $s = replace $s "Ł" "L" -}}
{{- $s = replace $s "ł" "l" -}}
{{- $s = replace $s "Ő" "O" -}}
{{- $s = replace $s "ő" "o" -}}
{{- $s = replace $s "Ŕ" "R" -}}
{{- $s = replace $s "ŕ" "r" -}}
{{- $s = replace $s "Ř" "R" -}}
{{- $s = replace $s "ř" "r" -}}
{{- $s = replace $s "Ś" "S" -}}
{{- $s = replace $s "ś" "s" -}}
{{- $s = replace $s "Ş" "S" -}}
{{- $s = replace $s "ş" "s" -}}
{{- $s = replace $s "Š" "S" -}}
{{- $s = replace $s "š" "s" -}}
{{- $s = replace $s "Ť" "T" -}}
{{- $s = replace $s "ť" "t" -}}
{{- $s = replace $s "Ů" "U" -}}
{{- $s = replace $s "ů" "u" -}}
{{- $s = replace $s "Ű" "U" -}}
{{- $s = replace $s "ű" "u" -}}
{{- $s = replace $s "Ų" "U" -}}
{{- $s = replace $s "ų" "u" -}}
{{- $s = replace $s "Ŵ" "W" -}}
{{- $s = replace $s "ŵ" "w" -}}
{{- $s = replace $s "Ŷ" "Y" -}}
{{- $s = replace $s "ŷ" "y" -}}
{{- $s = replace $s "Ź" "Z" -}}
{{- $s = replace $s "ź" "z" -}}
{{- $s = replace $s "Ż" "Z" -}}
{{- $s = replace $s "ż" "z" -}}
{{- $s = replace $s "Ž" "Z" -}}
{{- $s = replace $s "ž" "z" -}}
{{- $s -}}
